$main-color: #888;
$hover-color: #999;

.Button {
  border: 1px solid $main-color;
  background-color: $main-color;
  color: #fff;
  padding: 0.75rem 1rem;
  min-width: 5rem;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    background-color: $hover-color;
    border-color: $hover-color;
  }
}
